.news {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update__posts {
    cursor: pointer;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(160, 166, 212);
    color: white;
    transition: all 0.2s;
}

.update__posts:hover {
    background-color: rgb(134 139 179);
}